.myChats-tab{
  left: 1px; 
  width: 35%;
  height: 10ch;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  background-color:#1e3a8a;
  border-bottom: 2px solid #D6CBC1;
  position: relative;
}

.chatTab{
    position: relative;
    margin-top: 10px;
    padding: 10px;
    top: 100px;
    border: 2px solid red;
}

.singlechatTab{
    border: 2px solid blue;
    display: flex;
    margin: 1%;
}

.front{
    position: absolute;
    width: 70%;
    display: flex;
    margin: 0 auto;
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
}

.alignhead{
    width: 40%;
    border: 2px solid red;
    margin: 0 auto;
    display: flex;
}

.align{
    width: 50%;
    display: flex;
    border: 3px solid #fff;
    margin: 0 auto;
}

.single-button-div{
    margin: auto;
    width: 100%;
    border: 2px solid red;
    width: fit-content;
}

.button{
    width: 100px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    background: #4676d7;
    color: #fff;
}


.h1{
    color: white;
    border: 2px solid red;
    margin: 0 auto;
    padding: 5px;
    display: flex;
}

.main{
    display: flex;
    flex: 1;
    gap: 10px;
}

.Box{
    height: 10ch auto;
    border-radius: 10px;
    border: 2px solid black;
    margin-left: auto;
    flex: 1;
    width: 90%;  
    align-items: center;
}


/* searchmodal css */
.SearchModal{
    width: 20%;
    padding: 10px;
    border: 2px solid red;
    display: inline-block;
}

.searchResults-tab{
    margin-top: 10px;
}

.searchResults{
    position: relative;
    gap: 30%;
    border-radius: 10px;
    background-color:#1e3a8a;
    display: flex;
    margin: 5px;
}

.searchInput{
    width: 50%;
    border-radius: 10px;
    padding: 5px;
}

.inline{
    display: flex;
    gap: 5px;
    margin: auto;
}

.user{
    margin-left: 5%;
}

.SearchModal h3{
    display: flex;
    justify-content: center;
}

.styles{
    display: block;
    padding: 5px;
}
